
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

@import 'bootstrap/dist/css/bootstrap';

body {
  margin: 0;
  padding: 0;
}

.lol {
  height: 100vh;
  background-color: red;
}

.width-18rem {
  width: 18rem;
}

.width-20rem {
  width: 20rem;
}

.img5-5 {
  width: 5rem;
  height: 5rem;
}

.img2_5 {
  width: 2.5rem;
  height: 2.5rem;
}

.height20 {
  height: 20rem;
  min-width: 100%;
}

.div1 {
  width: 20rem;
  word-wrap: break-word;
}

.div2 {
  width: 35rem;
  word-wrap: break-word;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 310px;
}

table td {
  border-bottom: solid 1px #666;
  width: 20rem;
  word-wrap: break-word;
}
